<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= restaurant.name %> - <%= restaurant.station_name %> / <%= restaurant.genre.name %> | グルメサーチ</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>店舗情報</h1>
    <div class="container">
        <div class="title">
            <h1><%= restaurant.name %></h1>
            <p><%= restaurant.catch %></p>
        </div>
        <div class="details_img">
            <img src="<%= restaurant.photo.pc.l %>" alt="<%= restaurant.name %>">
        </div>
        <div class="details_info">
            <table>
                <tr>
                    <td>住所</td>
                    <td><%= restaurant.address %></td>
                </tr>
                <tr>
                    <td>営業時間</td>
                    <td><%= restaurant.open %></td>
                </tr>
                <tr>
                    <td>定休日</td>
                    <td><%= restaurant.close %></td>
                </tr>
                <tr>
                    <td>予算</td>
                    <td><%= restaurant.budget.average %></td>
                </tr>
                <tr>
                    <td>店舗URL</td>
                    <td><a href="<%= restaurant.urls.pc %>" id="url"><%= restaurant.urls.pc %></a></td>
                </tr>
            </table>
        </div>
    </div>
    <a href="/results?page=<%= page %>">戻る</a>
</body>
</html>
