<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>検索結果</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>検索結果</h1>
    <div class="container">
        <% if (restaurants.length > 0) { %>
            <p style="text-align: right;"><%= start %>～<%= end %> 件を表示 / 全 <%= totalResults %> 件</p>
            <ul>
                <% restaurants.forEach(function(restaurant) { %>
                    <li>
                        <h2><a href="/details/<%= restaurant.id %>"><%= restaurant.name %></a></h2>
                        <p>交通アクセス：<%= restaurant.access %></p>
                        <img src="<%= restaurant.photo.pc.l %>" alt="<%= restaurant.name %>">
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p style="text-align: center;">半径<%= radius %>km以内にレストランはありませんでした。</p>
        <% } %>

        <div class="pagination">
            <% if (currentPage > 1) { %>
                <a class="page-link" href="/results?page=<%= currentPage - 1 %>">前のページ</a>
            <% } %>
            <% if (totalResults > currentPage * pageSize) { %>
                <a class="page-link" href="/results?page=<%= currentPage + 1 %>">次のページ</a>
            <% } %>
        </div>
    </div>
    <a href="/">検索条件入力画面に戻る</a>
</body>
</html>
