<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>レストラン検索結果 | グルメサーチ</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>検索結果</h1>
    <div class="container">
        <% if (restaurants.length === 0) { %>
            <p style="text-align: center;">半径<%= radius %>km以内にレストランは見つかりませんでした。</p>
        <% } else { %>
            <p style="text-align: right;"><%= (currentPage - 1) * perPage + 1 %>～<%= Math.min(currentPage * perPage, totalResults) %> 件を表示 / 全 <%= totalResults %> 件</p>
            <ul>
                <% restaurants.forEach(function(restaurant) { %>
                    <li>
                        <h2><a href="/details/<%= restaurant.id %>?page=<%= currentPage %>"><%= restaurant.name %></a></h2>
                        <div class="restaurant-info">
                            <div class="photo">
                                <img src="<%= restaurant.photo.pc.l %>" alt="<%= restaurant.name %>">
                            </div>
                            <div class="info">
                                <h4>◆ <%= restaurant.genre.name %></h4>
                                <h4>◆ <%= restaurant.genre.catch %></h4>
                                <p>◆ <%= restaurant.access %></p>
                            </div>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a class="page-link" href="/results?page=<%= currentPage - 1 %>">前のページ</a>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
            <% if (i === 1 || i === totalPages || (i >= currentPage - 1 && i <= currentPage + 1)) { %>
                <% if (i === currentPage) { %>
                    <span class="current-page"><%= i %></span>
                <% } else { %>
                    <a class="page-link" href="/results?page=<%= i %>"><%= i %></a>
                <% } %>
            <% } else if (i === currentPage - 2 || i === currentPage + 2) { %>
                <span>...</span>
            <% } %>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <a class="page-link" href="/results?page=<%= currentPage + 1 %>">次のページ</a>
        <% } %>
    </div>
    <a href="/">検索条件入力画面に戻る</a>
</body>
</html>